###  Why Python?

<font color=red>Why Python?

###Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)
Script mode - Create a file with .py extension - 'python file.py' Enter
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

# Why Python?

why pyhon?

why

In [1]:
!python --version

Python 3.8.3

In [5]:
a = 5;
A = 4;
a+A
#Addition

9

In [8]:
a = 3+5+45+4+56
a

113

In [9]:
a = (2+4+55+34 +4)
a

99

In [14]:
a, b, c = 23,54,"hi"
a,b,c

NameError: name 'hi' is not defined

In [13]:
a = b = c = "test"
b

'test'

In [15]:
a = "python"
type(a)

str

In [16]:
b = 5.2
type(b)

float

In [17]:
c=3
type(c)

int

In [ ]:
a=2,b=3.4 add and store in sum
subtract and store in sub
print both outputs

In [21]:
a=2
b=3.4
sum=a+b
sub=a-b
sum,sub

(5.4, -1.4)

In [22]:
a=2
b=3.4
c=a+b
c
type(c)

float

In [23]:
c = 33
type(c)

int

In [24]:
d = 2+3j
type(d)

complex

In [ ]:
x = ("apple", "banana", "cherry")
type(x)

In [ ]:
x = ["apple", "banana", "cherry"]
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}
type(x)

In [ ]:
x = {"apple", "banana", "cherry"}
type(x)

#List
""" 
1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []
"""

In [35]:
sample_list = [12,43,"fd",1+3j]
sample_list

[12, 43, 'fd', (1+3j)]

In [26]:
type(sample_list)

list

In [29]:
sample_list[0]

12

In [30]:
sample_list[2] = 3.5

In [31]:
sample_list

[12, 43, 3.5, (1+3j)]

In [32]:
sample_list.reverse()

In [33]:
sample_list

[(1+3j), 3.5, 43, 12]

#Tuple
"""
1. Allows Heterogenous
2. Retrive using index
3. Cannot change the data once declared - immutable
4. ()
"""

In [36]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

(1, 43, 56, 3.5, 'hi', (1+2j))

In [37]:
type(sample_tuple)

tuple

In [38]:
sample_tuple[3]

3.5

In [39]:
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [40]:
sample_tuple[3] = 13

TypeError: 'tuple' object does not support item assignment

#Set
"""
1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. immutable
5. sometimes can be ordered
"""

In [44]:
sample_set = {1,43,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,"a","abc"}
type(sample_set)

set

In [45]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 43, 45, 66, 67, 'a', 'abc'}

In [43]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [46]:
sample_set.remove(43)
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 45, 66, 67, 'a', 'abc'}

In [57]:
sample_set.pop()

23

#dictionary
"""
1. dictionary key value pair datastructue
2. key is unique and value can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

"""

In [64]:
sample_dict = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [65]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [66]:
sample_dict[5]

'fourth'

In [61]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [68]:
sample_dict[9] = "seventh"
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'seventh',
 5: 'fourth',
 6: 'sixth',
 9: 'seventh'}

#String
"""
1. String can be retrieved using index
2. String is immutable

"""

In [78]:
a = "hi how are you?"

In [79]:
type(a)

str

In [82]:
a[9]

'e'

In [72]:
a[3] = 'u'

TypeError: 'str' object does not support item assignment

In [83]:
#Type Conversion
a = 23.975
type(a)

float

In [84]:
a = int(a)
a

23

In [85]:
a = 23
type(a)

int

In [86]:
a = float(a)
a

23.0

In [87]:
a ="10"
type(a)

str

In [88]:
a = int(a)
a

10

In [89]:
a = "rer"
int(a)

ValueError: invalid literal for int() with base 10: 'rer'

In [90]:
#you can change any 
a = 345
a = str(a)
a

'345'

In [ ]:
lst = [1,3,5,4,3,4]
type(lst)

In [ ]:
tpl = tuple(lst)

In [ ]:
lst = list(tpl)
lst

In [ ]:
set(lst)

In [ ]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

In [ ]:
lst1[1][1]

In [ ]:
dict(lst1)

In [ ]:
a = list(input("Enter a number "))
a

### Indendation

In [ ]:
a = int(input("Enter your age: "))
a=34

In [ ]:
print("Your age is ",a)

### Condition Statement

In [ ]:
if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

In [ ]:
a

In [ ]:
list(range(5,10))

In [ ]:
a = [34,32,67,87,3]

In [ ]:
a

### Control Statement

In [ ]:
for i in range(0,10):
    print(a[i])

In [ ]:
len(a)

In [ ]:
for i in range(0,len(a)):
    print(a[i])

In [ ]:
for i in a:
    print(i)

In [ ]:
a

In [ ]:
for i in range(0,len(a)):
    if(i==1):
        if(a[i]>10):
            print("it is greater")

In [ ]:
for i in range(0,len(a)):
    if(a[1]>10):
            print("it is greater")

In [ ]:
stringa = input("Enter your name:")

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        continue
        print("E is there")

In [ ]:
i = 5
while i>0:
    print(i)
    i = i-1

In [ ]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [ ]:
test()

In [ ]:
#test?
#help(test)
test.__doc__

In [ ]:
def sum(a,b):
    print(a+b)

In [ ]:
sum(4,6)

In [ ]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

In [ ]:
b

In [ ]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

In [ ]:
lst = ['Apple','orangE','BerrY','Grape']

In [ ]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

In [ ]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [ ]:
list(range(0,5,1))

In [ ]:
list(range(6,-1,-1))

In [ ]:
for i in range(0,len(lst)):
    print(lst[i])

In [ ]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

In [ ]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

In [ ]:
list(range(0,10,1))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(10,-1,-3))

In [ ]:
lst

In [ ]:
lst[0:3]

In [ ]:
lst[3:7]

In [ ]:
square = lambda  x: x**2

In [ ]:
square(3)

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

In [ ]:
squareit = lambda x: x**2

list(map(lambda x: x**2,lst))

In [ ]:
a =3
list(map(lambda x: x**2,lst))

In [ ]:
def abc(x):
    return x**2

In [ ]:
list(map(abc,lst))

In [ ]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [ ]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

In [ ]:
list(filter(lambda x : x%2==0,lst))

In [ ]:
lst

In [ ]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

In [ ]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

In [ ]:
import functools

In [ ]:
from functools import reduce

reduce(lambda x,y: x+y,lst)

In [ ]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [ ]:
reduce(lambda x,y :x if x>y else y,lst)

In [ ]:
reduce(greatest,lst)

In [ ]:
n = int(input("Enter the number for factorial: "))

In [ ]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

In [ ]:
list(range(1,n))

In [ ]:
lst = [1,3,2,4,5]

In [ ]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

### list comprehension

In [ ]:
[i**2 for i in lst]

In [ ]:
[i for i in lst if i%2==0]

In [ ]:
["even" if i%2==0 else "odd" for i in lst ]

In [ ]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [ ]:
[i for i in lst1 for j in lst2 if i==j]

In [ ]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

In [ ]:
a = int(input("Enter the number "))

In [ ]:
a =10
b =0
a/b
print("I have done division")

In [ ]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

In [ ]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
nums=[25,56,56,63]
nums[0]

In [ ]:
nums[5]

In [ ]:
nums[3]

In [ ]:
nums[2:]

In [ ]:
nums[-1]

In [ ]:
nums[-5]

In [ ]:
names=['shreya','siddharth','shivani']
names[0]

In [ ]:
values=[11.5,'Shreya',45]
values

In [ ]:
mix=[names,values]
mix

In [ ]:
nums.append(45)
nums.insert(2,77)
nums